cryptography
fastapi
ffmpeg
ffmpeg-python
firebase-admin
google-api-python-client
google-auth-oauthlib
google-cloud-speech
grpcio-status
h2
jinja2
langchain-tavily
langfuse
phonenumbers
rapidfuzz
tavily-python
tomli
websocket-client
whatsapp-api-client-python
uvicorn
python-dotenv
openai
langgraph-checkpoint-sqlite
aiosqlite
